build:
  # NOTES
  # - uses dirname of source as context for build
  # - image.yaml for apko based build
  # - Dockerfile for Docker based build
  # - structure like ./images/IMAGE_NAME/...
  # - images are pushed to ghcr.io/geonet/base-images/IMAGE_NAME
  - source: ./images/git/image.yaml
    destination: ghcr.io/geonet/base-images/git:latest
  - source: ./images/git-ssh/image.yaml
    destination: ghcr.io/geonet/base-images/git-ssh:latest
  - source: ./images/alpine-iputils/image.yaml
    destination: ghcr.io/geonet/base-images/alpine-iputils:3.18
  - source: ./images/alpine-xslt/image.yaml
    destination: ghcr.io/geonet/base-images/alpine-xslt:3.18
  - source: ./images/alpine-gdal/Dockerfile
    destination: ghcr.io/geonet/base-images/alpine-gdal:latest
  - source: ./images/texlive/image.yaml
    destination: ghcr.io/geonet/base-images/texlive:latest
  - source: ./images/python-arcgis/Dockerfile
    destination: ghcr.io/geonet/base-images/python-arcgis:latest
    buildOnMainOnly: true
  - source: ./images/rpmbuild-almalinux8/Dockerfile
    destination: ghcr.io/geonet/base-images/rpmbuild-almalinux8:latest
    buildOnMainOnly: true
  - source: ./images/rpmbuild-centos-stream9/Dockerfile
    destination: ghcr.io/geonet/base-images/rpmbuild-centos-stream9:latest
    buildOnMainOnly: true
  - source: ./images/rpmbuild-centos-stream10/Dockerfile
    destination: ghcr.io/geonet/base-images/rpmbuild-centos-stream10:latest
    buildOnMainOnly: true
  - source: ./images/rpmbuild-fedora/Dockerfile
    destination: ghcr.io/geonet/base-images/rpmbuild-fedora:latest
    buildOnMainOnly: true
  - source: ./images/ubuntu-pdk/Dockerfile
    destination: ghcr.io/geonet/base-images/ubuntu-pdk:latest
    buildOnMainOnly: true
  - source: ./images/alpine-nginx-rtmp-stream/Dockerfile
    destination: ghcr.io/geonet/base-images/nginx-rtmp:v1.2.2
  - source: ./images/alpine-ffmpeg/Dockerfile
    destination: ghcr.io/geonet/base-images/alpine-ffmpeg:latest
